[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/leveldb"]
	path = vendor/leveldb
	url = https://github.com/google/leveldb.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/inireader"]
	path = vendor/inireader
	url = https://github.com/X-rays5/inireader.git
